* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .search {
      width: 10rem;
      border: 1px solid black;
      height: 30px;
      border-radius: 20px;
      padding: 4px 5px;
    }
    .cart {
      width: 40px;
      height: 40px;
      background: #000;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
  }
}

main {
  margin: 30px;
  .heading {
    font-size: 4rem;
    font-weight: bold;
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .hero {
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
    .btns {
      position: absolute;
      bottom: 5%;
      left: 2%;
    }
    .btn1 {
      padding: 10px 20px;
      border-radius: 30px;
      border: none;
      background-color: #000;
      color: white;
    }
    .btn2 {
      padding: 10px 20px;
      border-radius: 30px;
      border: none;
      background-color: white;
      color: #000;
    }
  }
}

.summer {
  padding: 10px 20px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      color: gray;
    }
    .btn1 {
      padding: 10px 20px;
      border-radius: 30px;
      border: none;
      background-color: #000;
      color: white;
    }
  }
  .cat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    padding: 20px 0;
    .box {
      border: 1px solid black;
      padding: 10px 20px;
      border-radius: 30px;
    }
  }
  .cards1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .img {
        position: relative;
        border-radius: 16px;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        button {
          position: absolute;
          padding: 8px 14px;
          border-radius: 30px;
          border: none;
          background-color: transparent;
          color: black;
          top: 5%;
          left: 3%;
          border: 1px solid black;
        }
      }
      .bottom {
        h4 {
          text-align: start;
          font-weight: 550;
          margin-bottom: 5px;
        }
        p {
          color: red;
        }
      }
    }
  }
  .cards2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .card {
      position: relative;
      overflow: hidden;
      border-radius: 16px;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .bottom {
        position: absolute;
        bottom: 5%;
        left: 5%;
        button {
          padding: 8px 14px;
          border-radius: 30px;
          border: none;
          background-color: black;
          color: white;
          border: 1px solid black;
          margin-bottom: 10px;
        }
        h4 {
          text-align: start;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
}

.real {
  padding: 10px 20px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }
    .left {
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 10px;
      flex-direction: column;
      p {
        color: gray;
      }
      .btn1 {
        padding: 10px 20px;
        border-radius: 30px;
        border: none;
        background-color: #000;
        color: white;
      }
    }
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .card {
      position: relative;
      overflow: hidden;
      border-radius: 16px;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .bottom {
        position: absolute;
        bottom: 5%;
        left: 5%;
        button {
          padding: 8px 14px;
          border-radius: 30px;
          border: none;
          background-color: black;
          color: white;
          border: 1px solid black;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.full {
  position: relative;
  margin: 30px 0;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  .bottom {
    position: absolute;
    bottom: 10%;
    left: 6%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 50%;
    .heading {
      font-size: 3rem;
      font-weight: 500;
      text-align: start;
    }
    .info {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;

      input {
        background: #000;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
      }
      .arr {
        width: 40px;
        height: 40px;
        background-color: white;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }
}

.elevate {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
  gap: 20px;
  h3 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    z-index: 10;
  }
  button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #000;
    color: white;
  }
  img {
    position: absolute;
    border-radius: 20px;
  }
  .img1 {
    position: absolute;
    border-radius: 20px;
    top: 5%;
    left: 6%;
  }
  .img2 {
    position: absolute;
    border-radius: 20px;
    top: 0%;
    right: 6%;
  }
  .img3 {
    position: absolute;
    border-radius: 20px;
    top: 60%;
    right: 16%;
  }
  .img4 {
    position: absolute;
    border-radius: 20px;
    top: 60%;
    left: 16%;
  }
}

footer {
  width: 96%;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  min-height: 60vh;
  background: linear-gradient(
    145deg,
    rgba(251, 242, 229, 1) 0%,
    rgba(243, 248, 230, 1) 19%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  .first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40vh;
    .logo {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .box {
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 10px;
      flex-direction: column;
      text-align: start;

      h5 {
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: rgb(72, 72, 72);
      }
    }
  }
}
